.btn-sm{
  margin:3px;
}

[class*="sidebar-dark-"] {
  background-color: #2a4f77!important;
}

.text-block {

  bottom: 20px;
  right: 20px;
  background-color: rgba(0,0,0,.5);;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  position: relative;
}

.btn-primary {
  background-color: #2a4f77!important;
  border-color: #2a4f77!important;
}

.card-img-top{
  border-radius: 5px;
}

.profile-user-img {
  border: 3px solid #2a4f77!important;
}

.card-primary.card-outline {
  border-top: 3px solid #2a4f77!important;
}

.card-header {
  background-color: #2a4f77!important;
}

.dataTables_filter{
  margin-top: 6px;
  margin-bottom: 0px;
}